In [1]:
import numpy as np
import pandas as pd

Les années communes à tous les datasets sont $2013-2018$.

Pour le neet rate, j'ai pris les $15-29$ ans. Pour le STR, j'ai pris le niveau $L1$.

In [47]:
neet_rate = pd.read_csv('./neet_rate_1997_2018.csv')
exp_lmp = pd.read_csv('./exp_LMP_2004_2018.csv')
student_teacher_ratio = pd.read_csv('./str_2013_2018.csv')
min_wage = pd.read_csv('./min_wage_2001_2019.csv')

In [48]:
neet_rate = neet_rate[neet_rate.Subject == '15_29'].drop(['Subject'], axis=1).reset_index(drop=True)
student_teacher_ratio = student_teacher_ratio[student_teacher_ratio['ISC11_LEVEL_CAT']=='L1']

In [50]:
oecd_countries = {'AUS': 'Australia', 'AUT': 'Austria', 'BEL': 'Belgium', 'CAN': 'Canada', 'CHL': 'Chile', 'COL': 'Colombia', 'CZE': 'Czech Republic', 'DNK': 'Denmark', 'EST': 'Estonia', 'FIN': 'Finland', 'FRA': 'France', 'DEU': 'Germany', 'GRC': 'Greece', 'HUN': 'Hungary', 'ISL': 'Iceland', 'IRL': 'Ireland', 'ISR': 'Israel', 'ITA': 'Italy', 'JPN': 'Japan', 'KOR': 'Korea', 'LVA': 'Latvia', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'MEX': 'Mexico', 'NLD': 'Netherlands', 'NZL': 'New Zealand', 'NOR': 'Norway', 'POL': 'Poland', 'PRT': 'Portugal', 'SVK': 'Slovakia', 'SVN': 'Slovenia', 'ESP': 'Spain', 'SWE': 'Sweden', 'CHE': 'Switzerland', 'TUR': 'Turkey', 'GBR': 'United Kingdom', 'USA': 'United States'}

In [69]:
full_df = pd.DataFrame(columns=['Country', 'Time', 'NEET', 'Exp_LMP', 'STR', 'Min_Wage'])
years = [year for year in range(2013,2019,1)]
for country in oecd_countries.keys():
    neet_rate_country = neet_rate[(neet_rate.Country==country)&(neet_rate.Time.isin(years))]
    exp_lmp_country = exp_lmp[(exp_lmp.Country==country)&(exp_lmp.Time.isin(years))]
    student_teacher_ratio_country = student_teacher_ratio[(student_teacher_ratio.Country==country)&(student_teacher_ratio.Time.isin(years))]
    min_wage_country = min_wage[(min_wage.Country==country)&(min_wage.Time.isin(years))]
    for year in years:
        neet = neet_rate_country[neet_rate_country.Time==year]['NEET'].values
        exp_lmp_value = exp_lmp_country[exp_lmp_country.Time==year]['Exp_LMP'].values
        str_value = student_teacher_ratio_country[student_teacher_ratio_country.Time==year]['STR'].values
        min_wage_value = min_wage_country[min_wage_country.Time==year]['Min_Wage'].values
        if (neet.size>0) and (exp_lmp_value.size>0) and (str_value.size>0) and (min_wage_value.size>0):
            if (neet==neet) and (exp_lmp_value==exp_lmp_value) and (str_value==str_value) and (min_wage_value==min_wage_value):
                full_df = full_df.append({'Country': country, 'Time': year, 'NEET': neet[0], 'Exp_LMP': exp_lmp_value[0], 'STR': str_value[0], 'Min_Wage': min_wage_value[0]}, ignore_index=True)

In [70]:
full_df

    Country  Time       NEET  Exp_LMP     STR      Min_Wage
0       AUS  2013  13.015899     0.87  15.615  23283.766881
1       AUS  2014  12.647472     0.93  15.612  23356.492667
2       AUS  2015  11.831610     0.91  15.433  23641.395398
3       AUS  2016  11.352150     0.86  15.168  23915.419580
4       AUS  2017  10.946128     0.85  15.124  24128.731046
..      ...   ...        ...      ...     ...           ...
123     USA  2014  15.047262     0.28  15.435  16285.276127
124     USA  2015  14.380193     0.28  15.354  16265.980260
125     USA  2016  14.118049     0.26  15.216  16063.328012
126     USA  2017  13.280724     0.24  15.182  15728.297963
127     USA  2018  12.685773     0.25  15.224  15353.281279

[128 rows x 6 columns]