In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from linearmodels import PanelOLS

Les années communes à tous les datasets sont $2013-2018$.

Pour le neet rate, j'ai pris les $15-29$ ans. Pour le STR, j'ai pris le niveau $L1$.

# Import data and create panel data sets

## Import data

In [2]:
neet_rate = pd.read_csv('./neet_rate_1997_2018.csv')
exp_lmp = pd.read_csv('./exp_LMP_2004_2018.csv')
student_teacher_ratio = pd.read_csv('./str_2013_2018.csv')
min_wage = pd.read_csv('./min_wage_2001_2019.csv')
df_eco_features = pd.read_csv('./economic_features.csv')

## Create panel data set for the NEET rate and the 3 explanatory variables

In [3]:
neet_rate = neet_rate[neet_rate.Subject == '15_29'].drop(['Subject'], axis=1).reset_index(drop=True)
student_teacher_ratio = student_teacher_ratio[student_teacher_ratio['ISC11_LEVEL_CAT']=='L1']

In [4]:
oecd_countries = {'AUS': 'Australia', 'AUT': 'Austria', 'BEL': 'Belgium', 'CAN': 'Canada', 'CHL': 'Chile', 'COL': 'Colombia', 'CZE': 'Czech Republic', 'DNK': 'Denmark', 'EST': 'Estonia', 'FIN': 'Finland', 'FRA': 'France', 'DEU': 'Germany', 'GRC': 'Greece', 'HUN': 'Hungary', 'ISL': 'Iceland', 'IRL': 'Ireland', 'ISR': 'Israel', 'ITA': 'Italy', 'JPN': 'Japan', 'KOR': 'Korea', 'LVA': 'Latvia', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'MEX': 'Mexico', 'NLD': 'Netherlands', 'NZL': 'New Zealand', 'NOR': 'Norway', 'POL': 'Poland', 'PRT': 'Portugal', 'SVK': 'Slovakia', 'SVN': 'Slovenia', 'ESP': 'Spain', 'SWE': 'Sweden', 'CHE': 'Switzerland', 'TUR': 'Turkey', 'GBR': 'United Kingdom', 'USA': 'United States'}
code_countries = [code for code in oecd_countries.keys()]

In [5]:
full_df = pd.DataFrame(columns=['Country', 'Time', 'NEET', 'Exp_LMP', 'STR', 'Min_Wage'])
years = [year for year in range(2013,2019,1)]
for country in oecd_countries.keys():
    neet_rate_country = neet_rate[(neet_rate.Country==country)&(neet_rate.Time.isin(years))]
    exp_lmp_country = exp_lmp[(exp_lmp.Country==country)&(exp_lmp.Time.isin(years))]
    student_teacher_ratio_country = student_teacher_ratio[(student_teacher_ratio.Country==country)&(student_teacher_ratio.Time.isin(years))]
    min_wage_country = min_wage[(min_wage.Country==country)&(min_wage.Time.isin(years))]
    for year in years:
        neet = neet_rate_country[neet_rate_country.Time==year]['NEET'].values
        exp_lmp_value = exp_lmp_country[exp_lmp_country.Time==year]['Exp_LMP'].values
        str_value = student_teacher_ratio_country[student_teacher_ratio_country.Time==year]['STR'].values
        min_wage_value = min_wage_country[min_wage_country.Time==year]['Min_Wage'].values
        if (neet.size>0) and (exp_lmp_value.size>0) and (str_value.size>0) and (min_wage_value.size>0):
            if (neet==neet) and (exp_lmp_value==exp_lmp_value) and (str_value==str_value) and (min_wage_value==min_wage_value):
                full_df = full_df.append({'Country': country, 'Time': year, 'NEET': neet[0], 'Exp_LMP': exp_lmp_value[0], 'STR': str_value[0], 'Min_Wage': min_wage_value[0]}, ignore_index=True)

In [6]:
np.unique(full_df.Country)

array(['AUS', 'BEL', 'CAN', 'CHL', 'CZE', 'DEU', 'ESP', 'EST', 'FRA',
       'HUN', 'IRL', 'ISR', 'JPN', 'LTU', 'LUX', 'LVA', 'MEX', 'NLD',
       'NZL', 'POL', 'PRT', 'SVK', 'SVN', 'USA'], dtype=object)

In [7]:
# create binary variables for each oecd country
for code in np.unique(full_df.Country):
    bin_var = (full_df.Country == code).astype(int)
    full_df['bin_'+code] = bin_var

In [8]:
# create a group id for each different country for the clustered standard errors
groupid = []
previous_country,gid = 'AUS', 0
for code in full_df.Country:
    current_country = code
    if current_country==previous_country:
        groupid.append(gid)
    else:
        gid += 1
        groupid.append(gid)
    previous_country = current_country
full_df['groupid'] = groupid

In [9]:
full_df = full_df.set_index(['Country', 'Time'])
full_df

                   NEET  Exp_LMP     STR      Min_Wage  bin_AUS  bin_BEL  \
Country Time
AUS     2013  13.015899     0.87  15.615  23283.766881        1        0
        2014  12.647472     0.93  15.612  23356.492667        1        0
        2015  11.831610     0.91  15.433  23641.395398        1        0
        2016  11.352150     0.86  15.168  23915.419580        1        0
        2017  10.946128     0.85  15.124  24128.731046        1        0
...                 ...      ...     ...           ...      ...      ...
USA     2014  15.047262     0.28  15.435  16285.276127        0        0
        2015  14.380193     0.28  15.354  16265.980260        0        0
        2016  14.118049     0.26  15.216  16063.328012        0        0
        2017  13.280724     0.24  15.182  15728.297963        0        0
        2018  12.685773     0.25  15.224  15353.281279        0        0

              bin_CAN  bin_CHL  bin_CZE  bin_DEU  ...  bin_LVA  bin_MEX  \
Country Time                                      ...
AUS     2013        0        0        0        0  ...        0        0
        2014        0        0        0        0  ...        0        0
        2015        0        0        0        0  ...        0        0
        2016        0        0        0        0  ...        0        0
        2017        0        0        0        0  ...        0        0
...               ...      ...      ...      ...  ...      ...      ...
USA     2014        0        0        0        0  ...        0        0
        2015        0        0        0        0  ...        0        0
        2016        0        0        0        0  ...        0        0
        2017        0        0        0        0  ...        0        0
        2018        0        0        0        0  ...        0        0

              bin_NLD  bin_NZL  bin_POL  bin_PRT  bin_SVK  bin_SVN  bin_USA  \
Country Time
AUS     2013        0        0        0        0        0        0        0
        2014        0        0        0        0        0        0        0
        2015        0        0        0        0        0        0        0
        2016        0        0        0        0        0        0        0
        2017        0        0        0        0        0        0        0
...               ...      ...      ...      ...      ...      ...      ...
USA     2014        0        0        0        0        0        0        1
        2015        0        0        0        0        0        0        1
        2016        0        0        0        0        0        0        1
        2017        0        0        0        0        0        0        1
        2018        0        0        0        0        0        0        1

              groupid
Country Time
AUS     2013        0
        2014        0
        2015        0
        2016        0
        2017        0
...               ...
USA     2014       23
        2015       23
        2016       23
        2017       23
        2018       23

[128 rows x 29 columns]

## Create panel data set for the economic features

In [20]:
df_eco_features = df_eco_features.set_index(['Country', 'Time'])

## Create panel data set for the education indicators

## Create panel data set for the labour market indicators

# OLS on panel data

In [10]:
X_bols, Y_bols = full_df[['Exp_LMP', 'STR', 'Min_Wage']], full_df['NEET']
X_bols = sm.add_constant(X_bols)

In [11]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)
calc_vif(X_bols)

  variables        VIF
0     const  26.576924
1   Exp_LMP   1.380412
2       STR   1.053941
3  Min_Wage   1.410139

## Basic OLS without state or time fixed effects

In [12]:
basic_ols = sm.OLS(Y_bols, X_bols).fit()

In [13]:
print(basic_ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   NEET   R-squared:                       0.609
Model:                            OLS   Adj. R-squared:                  0.599
Method:                 Least Squares   F-statistic:                     64.30
Date:                Sun, 28 Mar 2021   Prob (F-statistic):           3.81e-25
Time:                        09:33:29   Log-Likelihood:                -292.26
No. Observations:                 128   AIC:                             592.5
Df Residuals:                     124   BIC:                             603.9
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.8227      1.099     12.579      0.000      11.648      15.998
Exp_LMP        2.5795      0.306      8.425      0.000       1.974       3.186
STR            0.2770      0.056      4.920      0.000       0.166       0.388
Min_Wage      -0.0005   3.83e-05    -11.948      0.000      -0.001      -0.000
==============================================================================
Omnibus:                        2.566   Durbin-Watson:                   0.584
Prob(Omnibus):                  0.277   Jarque-Bera (JB):                2.151
Skew:                          -0.309   Prob(JB):                        0.341
Kurtosis:                       3.148   Cond. No.                     8.38e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## OLS with only state fixed effects

### Use the n-1 binary variables for states, France is the reference

In [14]:
X_sfe, Y_sfe = full_df.drop(['NEET', 'Min_Wage', 'STR', 'bin_FRA', 'groupid'], axis=1), full_df['NEET']
X_sfe = sm.add_constant(X_sfe)

In [15]:
sfe_ols = sm.OLS(Y_sfe, X_sfe).fit(cov_type='cluster', cov_kwds = {'groups': full_df['groupid']})
print(sfe_ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   NEET   R-squared:                       0.925
Model:                            OLS   Adj. R-squared:                  0.907
Method:                 Least Squares   F-statistic:                     32.62
Date:                Sun, 28 Mar 2021   Prob (F-statistic):           8.14e-06
Time:                        09:33:29   Log-Likelihood:                -186.69
No. Observations:                 128   AIC:                             423.4
Df Residuals:                     103   BIC:                             494.7
Df Model:                          24
Covariance Type:              cluster
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.1360      1.884      1.134      0.257      -1.556       5.828
Exp_LMP        4.9803      0.648      7.681      0.000       3.710       6.251
bin_AUS        5.3203      1.322      4.026      0.000       2.730       7.911
bin_BEL       -0.3415      0.321     -1.064      0.287      -0.971       0.288
bin_CAN        6.5887      1.363      4.835      0.000       3.918       9.260
bin_CHL       13.9338      1.583      8.801      0.000      10.831      17.037
bin_CZE        6.9809      1.541      4.530      0.000       3.961      10.001
bin_DEU       -0.1551      0.947     -0.164      0.870      -2.011       1.700
bin_ESP        7.1562      0.166     43.001      0.000       6.830       7.482
bin_EST        7.8523      1.423      5.517      0.000       5.063      10.642
bin_HUN        8.5093      1.175      7.244      0.000       6.207      10.812
bin_IRL        4.5810      1.141      4.014      0.000       2.344       6.818
bin_ISR        8.5032      1.456      5.842      0.000       5.650      11.356
bin_JPN        6.3755      1.647      3.871      0.000       3.148       9.603
bin_LTU        7.4142      1.537      4.823      0.000       4.401      10.427
bin_LUX       -1.1736      0.998     -1.176      0.240      -3.129       0.782
bin_LVA        8.7890      1.511      5.818      0.000       5.828      11.750
bin_MEX       19.5739      1.879     10.416      0.000      15.891      23.257
bin_NLD       -5.8836      0.359    -16.409      0.000      -6.586      -5.181
bin_NZL        6.9449      1.482      4.687      0.000       4.041       9.849
bin_POL        9.3008      1.432      6.496      0.000       6.494      12.107
bin_PRT        4.0039      0.731      5.481      0.000       2.572       5.436
bin_SVK       12.0823      1.515      7.975      0.000       9.113      15.052
bin_SVN        6.0120      1.348      4.461      0.000       3.371       8.653
bin_USA       10.7389      1.704      6.301      0.000       7.399      14.079
==============================================================================
Omnibus:                        6.102   Durbin-Watson:                   1.532
Prob(Omnibus):                  0.047   Jarque-Bera (JB):                6.883
Skew:                           0.309   Prob(JB):                       0.0320
Kurtosis:                       3.954   Cond. No.                         103.
==============================================================================

Warnings:
[1] Standard Errors are robust to cluster correlation (cluster)

/Users/Victor/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:1832: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 24, but rank is 1
  'rank is %d' % (J, J_), ValueWarning)

In [16]:
test_df = full_df[['NEET', 'Exp_LMP', 'STR', 'Min_Wage']]
test_df = sm.add_constant(test_df)

In [17]:
panel_ols = PanelOLS(test_df.NEET, test_df[['const', 'Exp_LMP', 'STR', 'Min_Wage']]).fit(cov_type='unadjusted')

In [18]:
print(panel_ols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.6087
Estimator:                   PanelOLS   R-squared (Between):              0.6326
No. Observations:                 128   R-squared (Within):               0.5537
Date:                Sun, Mar 28 2021   R-squared (Overall):              0.6087
Time:                        09:33:29   Log-likelihood                   -292.26
Cov. Estimator:            Unadjusted
                                        F-statistic:                      64.297
Entities:                          24   P-value                           0.0000
Avg Obs:                       5.3333   Distribution:                   F(3,124)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             64.297
                                        P-value                           0.0000
Time periods:                       6   Distribution:                   F(3,124)
Avg Obs:                       21.333
Min Obs:                       20.000
Max Obs:                       23.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          13.823     1.0988     12.579     0.0000      11.648      15.998
Exp_LMP        2.5795     0.3062     8.4254     0.0000      1.9736      3.1855
STR            0.2770     0.0563     4.9197     0.0000      0.1656      0.3885
Min_Wage      -0.0005  3.826e-05    -11.948     0.0000     -0.0005     -0.0004
==============================================================================