In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from linearmodels import PanelOLS

Pour les plages de dates disponibles :
* NEET et variables explicatives : $2013-2018$
* Variables economiques : $2000-2019$
* Variables d'éducation : $2013-2017$

Pour le NEET rate, j'ai pris les $15-29$ ans.

Pour les variables qui dépendent du niveau d'éducation, j'ai pris $L1$ partout.

# Import data and create panel data sets

## Import data

In [2]:
panel_data_l1 = pd.read_csv('./data/panel_data/panel_data_l1.csv')
panel_data_l2_l3 = pd.read_csv('./data/panel_data/panel_data_l2_l3.csv')
df_eco_features = pd.read_csv('./data/panel_data/economic_features.csv')
df_educ_features_l1 = pd.read_csv('./data/panel_data/educ_features_l1.csv')
df_labour_features = pd.read_csv('./data/panel_data/labour_market.csv')

## Create panel data set for the NEET rate and the 3 explanatory variables

In [3]:
oecd_countries = {'AUS': 'Australia', 'AUT': 'Austria', 'BEL': 'Belgium', 'CAN': 'Canada', 'CHL': 'Chile', 'COL': 'Colombia', 'CZE': 'Czech Republic', 'DNK': 'Denmark', 'EST': 'Estonia', 'FIN': 'Finland', 'FRA': 'France', 'DEU': 'Germany', 'GRC': 'Greece', 'HUN': 'Hungary', 'ISL': 'Iceland', 'IRL': 'Ireland', 'ISR': 'Israel', 'ITA': 'Italy', 'JPN': 'Japan', 'KOR': 'Korea', 'LVA': 'Latvia', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'MEX': 'Mexico', 'NLD': 'Netherlands', 'NZL': 'New Zealand', 'NOR': 'Norway', 'POL': 'Poland', 'PRT': 'Portugal', 'SVK': 'Slovakia', 'SVN': 'Slovenia', 'ESP': 'Spain', 'SWE': 'Sweden', 'CHE': 'Switzerland', 'TUR': 'Turkey', 'GBR': 'United Kingdom', 'USA': 'United States'}
code_countries = [code for code in oecd_countries.keys()]
years = [year for year in range(2013,2019)]

In [4]:
np.unique(panel_data_l1.Country)

array(['AUS', 'BEL', 'CAN', 'CHL', 'CZE', 'DEU', 'ESP', 'EST', 'FRA',
       'HUN', 'IRL', 'ISR', 'JPN', 'LTU', 'LUX', 'LVA', 'MEX', 'NLD',
       'NZL', 'POL', 'PRT', 'SVK', 'SVN', 'USA'], dtype=object)

In [5]:
bin_df = pd.DataFrame()
# create binary variables for each oecd country
for code in np.unique(panel_data_l1.Country):
    bin_var = (panel_data_l1.Country == code).astype(int)
    bin_df['bin_'+code] = bin_var

In [6]:
panel_data_l1

    Country  Time       NEET  Exp_LMP     STR      Min_Wage
0       AUS  2013  13.015899     0.87  15.615  23283.766881
1       AUS  2014  12.647472     0.93  15.612  23356.492667
2       AUS  2015  11.831610     0.91  15.433  23641.395398
3       AUS  2016  11.352150     0.86  15.168  23915.419580
4       AUS  2017  10.946128     0.85  15.124  24128.731046
..      ...   ...        ...      ...     ...           ...
123     USA  2014  15.047262     0.28  15.435  16285.276127
124     USA  2015  14.380193     0.28  15.354  16265.980260
125     USA  2016  14.118049     0.26  15.216  16063.328012
126     USA  2017  13.280724     0.24  15.182  15728.297963
127     USA  2018  12.685773     0.25  15.224  15353.281279

[128 rows x 6 columns]

## Test whether there are non-linear effects for Exp_LMP

### Test for L1 level of education

In [7]:
exp_lmp = panel_data_l1.Exp_LMP
panel_data_l1['Exp_LMP_2'] = exp_lmp**2
panel_data_l1['Exp_LMP_3'] = exp_lmp**3
panel_data_l1_cubic = panel_data_l1.set_index(['Country', 'Time'])

In [8]:
panel_data_l1_cubic = sm.add_constant(panel_data_l1_cubic)

/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [9]:
res_exp_lmp = sm.OLS(panel_data_l1_cubic.NEET, panel_data_l1_cubic[['const', 'Exp_LMP', 'Exp_LMP_2']]).fit()
hyp_exp_lmp = '(Exp_LMP_2=0)'
print(res_exp_lmp.f_test(hyp_exp_lmp))

<F test: F=array([[60.16842744]]), p=2.653496660339645e-12, df_denom=125, df_num=1>

In [10]:
print(res_exp_lmp.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   NEET   R-squared:                       0.331
Model:                            OLS   Adj. R-squared:                  0.320
Method:                 Least Squares   F-statistic:                     30.89
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           1.25e-11
Time:                        15:27:29   Log-Likelihood:                -326.61
No. Observations:                 128   AIC:                             659.2
Df Residuals:                     125   BIC:                             667.8
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         18.5363      0.787     23.551      0.000      16.979      20.094
Exp_LMP       -9.6364      1.342     -7.183      0.000     -12.291      -6.981
Exp_LMP_2      3.2447      0.418      7.757      0.000       2.417       4.073
==============================================================================
Omnibus:                        2.528   Durbin-Watson:                   0.683
Prob(Omnibus):                  0.283   Jarque-Bera (JB):                2.144
Skew:                           0.311   Prob(JB):                        0.342
Kurtosis:                       3.122   Cond. No.                         20.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Test for L2 and L3 levels

In [11]:
panel_data_l2_l3['STR_2']=(panel_data_l2_l3.STR)**2
panel_data_l2_l3['STR_3']=(panel_data_l2_l3.STR)**3
panel_data_l2_l3['Exp_LMP_2'] = (panel_data_l2_l3.Exp_LMP)**2
panel_data_l2_l3['Exp_LMP_3'] = (panel_data_l2_l3.Exp_LMP)**3
panel_data_l2_l3_cubic = panel_data_l2_l3.set_index(['Country', 'Time'])

In [12]:
panel_data_l2_l3_cubic = sm.add_constant(panel_data_l2_l3_cubic)

/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [13]:
res_exp_lmp_l2_l3 = sm.OLS(panel_data_l2_l3_cubic.NEET, panel_data_l2_l3_cubic[['const', 'Exp_LMP', 'Exp_LMP_2','Exp_LMP_3']]).fit()
hyp_exp_lmp_l2_l3 = '(Exp_LMP_2=0),(Exp_LMP_3=0)'
print(res_exp_lmp_l2_l3.f_test(hyp_exp_lmp_l2_l3))
print(res_exp_lmp_l2_l3.summary())

<F test: F=array([[18.55410462]]), p=5.782850770803401e-08, df_denom=158, df_num=2>
                            OLS Regression Results
==============================================================================
Dep. Variable:                   NEET   R-squared:                       0.191
Model:                            OLS   Adj. R-squared:                  0.176
Method:                 Least Squares   F-statistic:                     12.45
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           2.38e-07
Time:                        15:27:29   Log-Likelihood:                -447.22
No. Observations:                 162   AIC:                             902.4
Df Residuals:                     158   BIC:                             914.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         19.3551      1.247     15.518      0.000      16.892      21.819
Exp_LMP      -13.3584      3.088     -4.326      0.000     -19.458      -7.259
Exp_LMP_2      6.7708      2.121      3.193      0.002       2.582      10.959
Exp_LMP_3     -0.8709      0.425     -2.049      0.042      -1.711      -0.031
==============================================================================
Omnibus:                       51.642   Durbin-Watson:                   0.623
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              117.324
Skew:                           1.389   Prob(JB):                     3.34e-26
Kurtosis:                       6.109   Cond. No.                         135.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Test for STR

### Test for L1 level of education

In [14]:
stratio = panel_data_l1.STR
panel_data_l1['STR_2'] = stratio**2
panel_data_l1['STR_3'] = stratio**3
panel_data_l1_cubic = panel_data_l1.set_index(['Country', 'Time'])

In [15]:
panel_data_l1_cubic = sm.add_constant(panel_data_l1_cubic)

/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [16]:
res_str = sm.OLS(panel_data_l1_cubic.NEET, panel_data_l1_cubic[['const', 'STR', 'STR_2', 'STR_3']]).fit()
hyp_str = '(STR_2=0), (STR_3=0)'
print(res_str.f_test(hyp_str))

<F test: F=array([[10.54292626]]), p=5.907318528775072e-05, df_denom=124, df_num=2>

In [17]:
print(res_str.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   NEET   R-squared:                       0.260
Model:                            OLS   Adj. R-squared:                  0.242
Method:                 Least Squares   F-statistic:                     14.51
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           3.67e-08
Time:                        15:27:29   Log-Likelihood:                -333.05
No. Observations:                 128   AIC:                             674.1
Df Residuals:                     124   BIC:                             685.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -26.4619     14.478     -1.828      0.070     -55.118       2.194
STR            7.7312      2.695      2.868      0.005       2.397      13.066
STR_2         -0.4800      0.159     -3.021      0.003      -0.794      -0.165
STR_3          0.0097      0.003      3.274      0.001       0.004       0.015
==============================================================================
Omnibus:                       21.316   Durbin-Watson:                   0.747
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.817
Skew:                           0.850   Prob(JB):                     2.03e-07
Kurtosis:                       4.699   Cond. No.                     2.92e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.92e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

### Test for L2 and L3

## Panel OLS with Exp_LMP_2, STR_2 and STR_3

### With STR corresponding to L1

In [18]:
panel_non_lin = PanelOLS(panel_data_l1_cubic.NEET, panel_data_l1_cubic[['const', 'Exp_LMP', 'Exp_LMP_2', 'STR', 'STR_2', 'STR_3']]).fit(cov_type='clustered')
print(panel_non_lin)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.4378
Estimator:                   PanelOLS   R-squared (Between):              0.4378
No. Observations:                 128   R-squared (Within):               0.0923
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.4378
Time:                        15:27:29   Log-likelihood                   -315.46
Cov. Estimator:             Clustered
                                        F-statistic:                      18.997
Entities:                          24   P-value                           0.0000
Avg Obs:                       5.3333   Distribution:                   F(5,122)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             67.444
                                        P-value                           0.0000
Time periods:                       6   Distribution:                   F(5,122)
Avg Obs:                       21.333
Min Obs:                       20.000
Max Obs:                       23.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -23.411     13.097    -1.7875     0.0763     -49.338      2.5156
Exp_LMP       -7.1021     1.6753    -4.2393     0.0000     -10.419     -3.7857
Exp_LMP_2      2.5489     0.5020     5.0770     0.0000      1.5550      3.5427
STR            7.9890     2.4526     3.2574     0.0015      3.1339      12.844
STR_2         -0.5001     0.1454    -3.4406     0.0008     -0.7879     -0.2124
STR_3          0.0099     0.0027     3.6773     0.0004      0.0046      0.0152
==============================================================================

#### With time fixed effects only

In [19]:
panel_non_lin_tfe = PanelOLS(panel_data_l1_cubic.NEET, panel_data_l1_cubic[['const', 'Exp_LMP', 'Exp_LMP_2', 'STR', 'STR_2', 'STR_3']],time_effects=True).fit(cov_type='clustered',cluster_time=True)
print(panel_non_lin_tfe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.4299
Estimator:                   PanelOLS   R-squared (Between):              0.4330
No. Observations:                 128   R-squared (Within):               0.1215
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.4364
Time:                        15:27:29   Log-likelihood                   -310.22
Cov. Estimator:             Clustered
                                        F-statistic:                      17.642
Entities:                          24   P-value                           0.0000
Avg Obs:                       5.3333   Distribution:                   F(5,117)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):          1.601e+04
                                        P-value                           0.0000
Time periods:                       6   Distribution:                   F(5,117)
Avg Obs:                       21.333
Min Obs:                       20.000
Max Obs:                       23.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -22.939     7.1768    -3.1962     0.0018     -37.152     -8.7255
Exp_LMP       -6.5167     0.5616    -11.603     0.0000     -7.6289     -5.4044
Exp_LMP_2      2.3420     0.1545     15.162     0.0000      2.0361      2.6479
STR            7.8623     1.3889     5.6610     0.0000      5.1117      10.613
STR_2         -0.4934     0.0857    -5.7556     0.0000     -0.6632     -0.3236
STR_3          0.0098     0.0016     5.9991     0.0000      0.0065      0.0130
==============================================================================

F-test for Poolability: 1.9954
P-value: 0.0843
Distribution: F(5,117)

Included effects: Time

#### With state and time fixed effects

In [20]:
panel_non_lin_stfe = PanelOLS(panel_data_l1_cubic.NEET, panel_data_l1_cubic[['const', 'Exp_LMP', 'Exp_LMP_2', 'STR', 'STR_2', 'STR_3']], time_effects=True,entity_effects=True).fit(cov_type='clustered', cluster_time=True,cluster_entity=True)
print(panel_non_lin_stfe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.2193
Estimator:                   PanelOLS   R-squared (Between):             -0.4321
No. Observations:                 128   R-squared (Within):               0.2736
Date:                Thu, Apr 01 2021   R-squared (Overall):             -0.3509
Time:                        15:27:30   Log-likelihood                   -151.23
Cov. Estimator:             Clustered
                                        F-statistic:                      5.2810
Entities:                          24   P-value                           0.0003
Avg Obs:                       5.3333   Distribution:                    F(5,94)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             5.2974
                                        P-value                           0.0002
Time periods:                       6   Distribution:                    F(5,94)
Avg Obs:                       21.333
Min Obs:                       20.000
Max Obs:                       23.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          1.5833     7.5805     0.2089     0.8350     -13.468      16.635
Exp_LMP        0.3795     1.6187     0.2344     0.8151     -2.8345      3.5935
Exp_LMP_2      0.4010     0.3323     1.2067     0.2306     -0.2588      1.0609
STR            1.5334     1.6634     0.9218     0.3590     -1.7694      4.8362
STR_2         -0.0505     0.1109    -0.4550     0.6502     -0.2708      0.1698
STR_3          0.0001     0.0021     0.0488     0.9612     -0.0041      0.0043
==============================================================================

F-test for Poolability: 40.335
P-value: 0.0000
Distribution: F(28,94)

Included effects: Entity, Time

### With STR corresponding to L2_L3

In [21]:
panel_non_lin_l2_l3 = PanelOLS(panel_data_l2_l3_cubic.NEET,panel_data_l2_l3_cubic[['const', 'Exp_LMP', 'Exp_LMP_2', 'STR', 'STR_2', 'STR_3']], time_effects=True, entity_effects=True).fit(cov_type='clustered', cluster_time=True, cluster_entity=True)
print(panel_non_lin_l2_l3)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.1515
Estimator:                   PanelOLS   R-squared (Between):             -0.4685
No. Observations:                 162   R-squared (Within):               0.2999
Date:                Thu, Apr 01 2021   R-squared (Overall):             -0.4152
Time:                        15:27:30   Log-likelihood                   -199.57
Cov. Estimator:             Clustered
                                        F-statistic:                      4.3201
Entities:                          31   P-value                           0.0012
Avg Obs:                       5.2258   Distribution:                   F(5,121)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             1.1195
                                        P-value                           0.3537
Time periods:                       6   Distribution:                   F(5,121)
Avg Obs:                       27.000
Min Obs:                       24.000
Max Obs:                       29.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          5.5317     10.433     0.5302     0.5969     -15.123      26.187
Exp_LMP        2.9045     2.1123     1.3750     0.1717     -1.2774      7.0864
Exp_LMP_2     -0.1138     0.5358    -0.2124     0.8322     -1.1746      0.9471
STR            1.0519     1.9601     0.5367     0.5925     -2.8286      4.9324
STR_2         -0.0664     0.1060    -0.6260     0.5325     -0.2762      0.1435
STR_3          0.0011     0.0017     0.6408     0.5229     -0.0023      0.0046
==============================================================================

F-test for Poolability: 65.822
P-value: 0.0000
Distribution: F(35,121)

Included effects: Entity, Time

## Create panel data set for the economic features

In [22]:
df_eco_features

    Country  Time           GDP       CPI       DEBT
0       AUS  2000  21679.247842  4.457435   41.14750
1       AUS  2001  19490.861110  4.407135   40.40488
2       AUS  2002  20082.483267  2.981575   38.67284
3       AUS  2003  23447.031001  2.732596   35.66726
4       AUS  2004  30430.676437  2.343255   32.31054
..      ...   ...           ...       ...        ...
652     USA  2015  56839.381774  0.118627  136.43000
653     USA  2016  57951.584082  1.261583  138.11100
654     USA  2017  60062.222313  2.130110  134.67420
655     USA  2018  62996.471285  2.442583  136.17960
656     USA  2019  65297.517508  1.812210  134.59570

[657 rows x 5 columns]

In [23]:
gdp = df_eco_features.GDP
lgdp = np.log(gdp)

In [24]:
df_eco_features['GDP'] = lgdp
df_eco_features.columns = ['Country', 'Time', 'LogGDP', 'CPI', 'DEBT']

In [25]:
df_eco_features

    Country  Time     LogGDP       CPI       DEBT
0       AUS  2000   9.984111  4.457435   41.14750
1       AUS  2001   9.877701  4.407135   40.40488
2       AUS  2002   9.907603  2.981575   38.67284
3       AUS  2003  10.062499  2.732596   35.66726
4       AUS  2004  10.323206  2.343255   32.31054
..      ...   ...        ...       ...        ...
652     USA  2015  10.947985  0.118627  136.43000
653     USA  2016  10.967363  1.261583  138.11100
654     USA  2017  11.003136  2.130110  134.67420
655     USA  2018  11.050834  2.442583  136.17960
656     USA  2019  11.086709  1.812210  134.59570

[657 rows x 5 columns]

## Create panel data set for the education indicators

In [26]:
df_educ_features_l1

    Country  Time  Years_schooling  Avg_class_size    Exp_educ
0       AUS  2013             12.6          23.725   9241.9922
1       AUS  2014             12.7          23.859   9257.9980
2       AUS  2015             12.8          23.821   9524.7178
3       AUS  2016             12.9          23.669  10022.5670
4       AUS  2017             12.9          23.613  10238.4130
..      ...   ...              ...             ...         ...
128     GBR  2013             12.6          25.404  10615.3770
129     GBR  2014             12.7          25.296  11276.6310
130     GBR  2015             12.8          25.988  11715.1060
131     GBR  2016             12.9          25.937  11350.0200
132     GBR  2017             12.9          26.655  11603.5060

[133 rows x 5 columns]

## Create panel data set for the labour market indicators

In [27]:
df_labour_features

,Country,Time,protection_of_workers,short_time_workers,involuntary_pt_workers,ft_and_pt_employ,marginally_attached_workers,employees_bargain,years_schooling,avg_class_size,educ_spendings
0,AUS,2016,1.700,0.892538,27.952453,19.342875,5.644458,60.0,12.9,22.158,8795.3633
1,AUS,2014,1.700,0.532556,28.277395,18.917433,5.584873,60.1,12.7,23.785,8107.4346
2,AUT,2013,1.800,0.479700,11.341942,18.913490,3.342615,98.0,11.9,21.022,10486.6760
3,AUT,2014,1.800,0.392421,10.955043,19.574962,3.614805,98.0,12.1,20.977,10661.8130
4,AUT,2015,1.800,0.454537,11.852590,19.793941,3.678977,98.0,12.1,20.921,11193.4690
5,EST,2015,1.934,0.526973,12.138937,6.022114,4.059337,18.6,12.7,18.148,5838.8569
6,FIN,2014,2.518,0.466532,23.873874,7.418025,5.135235,89.3,12.4,19.656,8765.7246
7,FIN,2015,2.518,0.435119,25.849081,7.945387,5.302583,89.3,12.4,19.656,9286.6465
8,FRA,2014,2.812,0.077543,38.833678,12.448917,1.401585,98.5,11.4,25.262,6860.5566
9,DEU,2013,2.332,0.101407,14.437775,20.824191,1.469701,57.6,14.0,24.285,7958.0161
10,DEU,2014,2.332,0.071256,13.308842,20.466193,1.404616,57.8,14.0,24.148,8355.6367
11,DEU,2015,2.332,0.071631,12.823948,20.294353,1.446233,56.8,14.1,24.056,8419.0049
12,GRC,2013,2.591,0.445955,64.523817,9.963146,2.238071,63.1,10.4,21.967,5177.4805
13,GRC,2014,2.591,0.428217,66.524268,10.783478,2.118787,21.9,10.5,21.431,5493.7036
14,GRC,2015,2.591,0.407683,68.872252,10.820195,2.248234,23.7,10.6,20.671,5418.4844
15,HUN,2013,1.767,0.068582,40.694778,3.827516,5.205054,25.5,12.0,20.863,5169.8901
16,HUN,2014,1.767,0.055691,38.601627,3.546781,3.941362,22.8,11.8,20.851,3480.1599
17,ITA,2016,2.831,10.014956,62.536974,18.230208,4.300296,80.0,10.2,21.078,7707.6216
18,ITA,2014,3.103,0.979819,63.632612,18.048327,4.713845,80.0,10.1,21.390,7572.0986
19,JPN,2016,2.080,88.792030,19.465917,16.777324,0.887618,16.7,12.7,32.280,8627.5176
20,JPN,2017,2.080,90.566422,17.713479,16.294982,0.833209,16.5,12.8,32.212,8722.2119
21,JPN,2015,2.080,64.327928,20.571429,16.961312,1.045613,16.8,12.5,32.391,8945.2666
22,LVA,2013,2.708,0.226769,37.869604,6.081749,5.817492,15.3,12.7,14.420,5851.5640
23,LVA,2014,2.708,0.191482,34.866267,5.042816,4.753176,15.3,12.9,14.779,6474.9941
24,LVA,2015,2.708,0.181045,30.270922,5.353419,4.193578,14.8,12.8,15.038,6594.3418
25,LTU,2015,2.633,0.081694,29.626043,5.393495,0.657793,7.1,13.0,19.249,5285.2036
26,POL,2015,2.385,0.187497,27.487294,4.921804,3.229811,17.2,12.1,22.141,6245.9268
27,PRT,2013,3.062,0.539302,36.455377,7.031966,5.434248,76.5,8.6,22.500,6496.3438
28,PRT,2014,2.871,0.583669,36.890399,6.345902,5.374243,74.0,8.9,22.679,6704.7285
29,PRT,2015,2.871,0.500464,38.513155,6.333224,5.137471,73.6,9.1,22.618,6546.5264
30,SVK,2016,2.330,0.001921,63.713716,4.867107,1.627201,25.0,12.5,19.121,6004.1733
31,SVK,2014,2.330,0.003674,63.381672,4.047263,1.714218,30.0,12.3,19.321,5491.4224
32,SVN,2013,2.539,0.119084,9.384017,4.793204,2.557355,65.4,11.7,19.808,8483.6074
33,SVN,2014,2.340,0.167519,8.480045,5.779175,3.429840,69.2,11.9,19.877,8431.3096
34,SVN,2015,2.340,0.099230,11.491235,5.780073,2.562645,67.5,12.0,20.118,7779.2432
35,ESP,2013,2.392,0.422162,65.309337,13.887843,5.237998,92.2,9.5,25.368,5877.5703
36,ESP,2014,2.392,0.365940,64.558387,13.867124,5.005462,90.7,9.7,25.447,5944.7515
37,ESP,2015,2.392,0.351190,63.380925,13.645728,4.438692,86.7,9.7,25.564,6150.6528
38,SWE,2016,2.544,0.241991,27.343846,8.385937,2.058182,90.0,12.4,21.008,11569.4230
39,SWE,2014,2.544,0.011573,28.670169,8.720224,2.538236,90.0,12.3,20.431,10832.1200
40,SWE,2015,2.544,0.003828,28.318343,8.541835,2.329989,90.0,12.4,20.892,10972.5630
41,TUR,2013,2.949,0.128392,6.706070,10.089067,3.520594,6.5,7.7,28.084,2525.1763
42,TUR,2014,2.949,0.226597,8.727735,8.507115,3.728010,6.6,7.6,27.682,2868.0422
43,TUR,2015,2.949,0.256964,9.471684,7.728147,3.632146,6.7,7.8,24.609,3079.3757
44,GBR,2013,1.932,0.149724,18.163963,20.115765,2.423695,29.5,12.6,19.466,9302.5068
45,GBR,2014,1.901,0.117351,16.896857,19.509100,2.151490,27.5,12.7,19.068,10178.9850
46,GBR,2015,1.901,0.105035,15.923159,19.405486,2.097667,27.9,12.8,19.008,10628.8590

## Check for multicollinearity

In [28]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

# OLS on panel data

## Panel OLS

Je pense qu'il faut supprimer la variable `Min_Wage`, c'est elle qui pose des problèmes de multicollinéarité, et en plus ça facilite notre étude comme ça on a plus que 2 variables explicatives.

### Without state or time fixed effects

In [29]:
panel_data_l1_ols = panel_data_l1.set_index(['Country', 'Time'])
panel_data_l1_ols = sm.add_constant(panel_data_l1_ols)

/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [30]:
basic_ols = PanelOLS(panel_data_l1_ols.NEET, panel_data_l1_ols[['const', 'Exp_LMP', 'STR']]).fit(cov_type='clustered')
print(basic_ols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.1582
Estimator:                   PanelOLS   R-squared (Between):              0.1462
No. Observations:                 128   R-squared (Within):               0.1655
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.1582
Time:                        15:27:30   Log-likelihood                   -341.29
Cov. Estimator:             Clustered
                                        F-statistic:                      11.744
Entities:                          24   P-value                           0.0000
Avg Obs:                       5.3333   Distribution:                   F(2,125)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             11.956
                                        P-value                           0.0000
Time periods:                       6   Distribution:                   F(2,125)
Avg Obs:                       21.333
Min Obs:                       20.000
Max Obs:                       23.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          7.4484     1.3145     5.6662     0.0000      4.8468      10.050
Exp_LMP        0.7309     0.5571     1.3119     0.1919     -0.3717      1.8336
STR            0.3828     0.0806     4.7507     0.0000      0.2233      0.5423
==============================================================================

### With only state fixed effects

In [31]:
panel_ols_sfe = PanelOLS(panel_data_l1_ols.NEET, panel_data_l1_ols[['const', 'Exp_LMP', 'STR']], entity_effects=True).fit(cov_type='clustered', cluster_entity=True)

In [32]:
print(panel_ols_sfe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.4193
Estimator:                   PanelOLS   R-squared (Between):             -0.7526
No. Observations:                 128   R-squared (Within):               0.4193
Date:                Thu, Apr 01 2021   R-squared (Overall):             -0.6214
Time:                        15:27:30   Log-likelihood                   -185.20
Cov. Estimator:             Clustered
                                        F-statistic:                      36.830
Entities:                          24   P-value                           0.0000
Avg Obs:                       5.3333   Distribution:                   F(2,102)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             40.866
                                        P-value                           0.0000
Time periods:                       6   Distribution:                   F(2,102)
Avg Obs:                       21.333
Min Obs:                       20.000
Max Obs:                       23.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          4.4506     2.3806     1.8695     0.0644     -0.2714      9.1725
Exp_LMP        4.7352     0.5986     7.9101     0.0000      3.5478      5.9225
STR            0.2934     0.1641     1.7877     0.0768     -0.0321      0.6189
==============================================================================

F-test for Poolability: 46.390
P-value: 0.0000
Distribution: F(23,102)

Included effects: Entity

### With both state and time fixed effects

In [33]:
panel_ols_stfe = PanelOLS(panel_data_l1_ols.NEET, panel_data_l1_ols[['const', 'Exp_LMP', 'STR']], entity_effects=True, time_effects=True).fit(cov_type='clustered', cluster_entity=True, cluster_time=True)

In [34]:
print(panel_ols_stfe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.1816
Estimator:                   PanelOLS   R-squared (Between):             -0.1802
No. Observations:                 128   R-squared (Within):               0.3225
Date:                Thu, Apr 01 2021   R-squared (Overall):             -0.1037
Time:                        15:27:30   Log-likelihood                   -154.25
Cov. Estimator:             Clustered
                                        F-statistic:                      10.764
Entities:                          24   P-value                           0.0001
Avg Obs:                       5.3333   Distribution:                    F(2,97)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             10.622
                                        P-value                           0.0001
Time periods:                       6   Distribution:                    F(2,97)
Avg Obs:                       21.333
Min Obs:                       20.000
Max Obs:                       23.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          9.6307     1.9266     4.9989     0.0000      5.8069      13.454
Exp_LMP        2.5218     0.8141     3.0977     0.0026      0.9061      4.1375
STR            0.1111     0.1552     0.7154     0.4761     -0.1971      0.4192
==============================================================================

F-test for Poolability: 60.934
P-value: 0.0000
Distribution: F(28,97)

Included effects: Entity, Time

## Panel OLS with economic features

In [36]:
added_features = df_eco_features[df_eco_features.Time.isin(years)].reset_index(drop=True)
df_eco_neet = pd.DataFrame(columns=['Country', 'Time', 'NEET', 'Exp_LMP', 'STR', 'Exp_LMP_2', 'STR_2', 'STR_3', 'LogGDP', 'CPI', 'DEBT'])

In [37]:
for obs in panel_data_l1.itertuples():
    country, time = obs[1], obs[2]
    new_el = added_features.loc[(added_features.Country==country)&(added_features.Time==time)]
    if len(new_el.index) > 0:
        line = {'Country':country, 'Time':time, 'NEET':obs[3], 'Exp_LMP':obs[4], 'STR':obs[5], 'Exp_LMP_2':obs[7], 'STR_2':obs[9], 'STR_3':obs[10], 'LogGDP':new_el.LogGDP.values[0], 'CPI':new_el.CPI.values[0], 'DEBT':new_el.DEBT.values[0]}
        df_eco_neet = df_eco_neet.append(line, ignore_index=True)

In [38]:
df_eco_neet_ols = df_eco_neet.set_index(['Country', 'Time'])

In [39]:
df_eco_neet_ols = sm.add_constant(df_eco_neet_ols)

In [40]:
df_eco_neet_ols

              const       NEET  Exp_LMP     STR  Exp_LMP_2       STR_2  \
Country Time
AUS     2013    1.0  13.015899     0.87  15.615     0.7569  243.828225
        2014    1.0  12.647472     0.93  15.612     0.8649  243.734544
        2015    1.0  11.831610     0.91  15.433     0.8281  238.177489
        2016    1.0  11.352150     0.86  15.168     0.7396  230.068224
        2017    1.0  10.946128     0.85  15.124     0.7225  228.735376
...             ...        ...      ...     ...        ...         ...
USA     2014    1.0  15.047262     0.28  15.435     0.0784  238.239225
        2015    1.0  14.380193     0.28  15.354     0.0784  235.745316
        2016    1.0  14.118049     0.26  15.216     0.0676  231.526656
        2017    1.0  13.280724     0.24  15.182     0.0576  230.493124
        2018    1.0  12.685773     0.25  15.224     0.0625  231.770176

                    STR_3     LogGDP       CPI       DEBT
Country Time
AUS     2013  3807.377733  11.129468  2.449889   55.70968
        2014  3805.183701  11.043094  2.487923   61.36842
        2015  3675.793188  10.946512  1.508367   64.18005
        2016  3489.674822  10.819201  1.276991   68.39156
        2017  3459.393827  10.897257  1.948647   65.60463
...                   ...        ...       ...        ...
USA     2014  3677.222438  10.916265  1.622223  135.58440
        2015  3619.633582  10.947985  0.118627  136.43000
        2016  3522.909598  10.967363  1.261583  138.11100
        2017  3499.346609  11.003136  2.130110  134.67420
        2018  3528.469159  11.050834  2.442583  136.17960

[122 rows x 10 columns]

### Regression without time fixed effect

In [61]:
panel_eco_ols = PanelOLS(df_eco_neet_ols.NEET, df_eco_neet_ols.drop(['NEET'], axis=1)).fit(cov_type='clustered')

In [62]:
print(panel_eco_ols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.6077
Estimator:                   PanelOLS   R-squared (Between):              0.5914
No. Observations:                 122   R-squared (Within):               0.3497
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.6077
Time:                        15:31:08   Log-likelihood                   -280.52
Cov. Estimator:             Clustered
                                        F-statistic:                      21.877
Entities:                          23   P-value                           0.0000
Avg Obs:                       5.3043   Distribution:                   F(8,113)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             118.95
                                        P-value                           0.0000
Time periods:                       6   Distribution:                   F(8,113)
Avg Obs:                       20.333
Min Obs:                       19.000
Max Obs:                       22.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          15.064     12.426     1.2123     0.2279     -9.5540      39.682
Exp_LMP       -5.1253     1.6058    -3.1917     0.0018     -8.3068     -1.9439
STR            5.7293     2.0692     2.7689     0.0066      1.6298      9.8287
Exp_LMP_2      2.0237     0.5042     4.0132     0.0001      1.0246      3.0227
STR_2         -0.3497     0.1234    -2.8341     0.0054     -0.5942     -0.1053
STR_3          0.0068     0.0023     2.9620     0.0037      0.0023      0.0114
LogGDP        -2.8924     0.3919    -7.3805     0.0000     -3.6688     -2.1159
CPI           -0.2812     0.2026    -1.3881     0.1678     -0.6825      0.1201
DEBT           0.0090     0.0081     1.1139     0.2677     -0.0070      0.0250
==============================================================================

### Regression with time fixed effect

In [59]:
panel_eco_ols_tfe = PanelOLS(df_eco_neet_ols.NEET, df_eco_neet_ols.drop(['NEET'], axis=1), time_effects=True).fit(cov_type='clustered', cluster_time=True)

In [60]:
print(panel_eco_ols_tfe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.6022
Estimator:                   PanelOLS   R-squared (Between):              0.5915
No. Observations:                 122   R-squared (Within):               0.3706
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.6066
Time:                        15:30:29   Log-likelihood                   -275.73
Cov. Estimator:             Clustered
                                        F-statistic:                      20.439
Entities:                          23   P-value                           0.0000
Avg Obs:                       5.3043   Distribution:                   F(8,108)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):          3.097e+14
                                        P-value                           0.0000
Time periods:                       6   Distribution:                   F(8,108)
Avg Obs:                       20.333
Min Obs:                       19.000
Max Obs:                       22.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          13.712     6.9155     1.9829     0.0499      0.0047      27.420
Exp_LMP       -4.5248     0.3701    -12.227     0.0000     -5.2583     -3.7913
STR            5.9964     1.3228     4.5332     0.0000      3.3744      8.6183
Exp_LMP_2      1.8275     0.1485     12.306     0.0000      1.5332      2.1219
STR_2         -0.3645     0.0807    -4.5177     0.0000     -0.5244     -0.2046
STR_3          0.0071     0.0015     4.6001     0.0000      0.0040      0.0101
LogGDP        -2.9349     0.3325    -8.8267     0.0000     -3.5940     -2.2758
CPI           -0.2776     0.2921    -0.9505     0.3440     -0.8566      0.3013
DEBT           0.0083     0.0070     1.1788     0.2411     -0.0057      0.0223
==============================================================================

F-test for Poolability: 1.7635
P-value: 0.1265
Distribution: F(5,108)

Included effects: Time

## Panel OLS with education features

In [90]:
added_educ_features = df_educ_features_l1[df_educ_features_l1.Time.isin(years)].reset_index(drop=True)
df_educ_neet = pd.DataFrame(columns=['Country', 'Time', 'NEET', 'Exp_LMP', 'STR', 'Exp_LMP_2', 'STR_2', 'STR_3', 'Years_schooling', 'Avg_class_size', 'LogExp_educ'])

In [92]:
for obs in panel_data_l1.itertuples():
    country, time = obs[1], obs[2]
    new_el = added_educ_features.loc[(added_educ_features.Country==country)&(added_educ_features.Time==time)]
    if len(new_el.index) > 0:
        line = {'Country':country, 'Time':time, 'NEET':obs[3], 'Exp_LMP':obs[4], 'STR':obs[5], 'Exp_LMP_2':obs[7], 'STR_2':obs[9], 'STR_3':obs[10], 'Years_schooling':new_el.Years_schooling.values[0], 'Avg_class_size':new_el.Avg_class_size.values[0], 'LogExp_educ':np.log(new_el.Exp_educ.values[0])}
        df_educ_neet = df_educ_neet.append(line, ignore_index=True)

In [93]:
df_educ_neet_ols = df_educ_neet.set_index(['Country', 'Time'])

In [94]:
df_educ_neet_ols = sm.add_constant(df_educ_neet_ols)

/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [95]:
df_educ_neet_ols

              const       NEET  Exp_LMP     STR  Exp_LMP_2       STR_2  \
Country Time
AUS     2013    1.0  13.015899     0.87  15.615     0.7569  243.828225
        2014    1.0  12.647472     0.93  15.612     0.8649  243.734544
        2015    1.0  11.831610     0.91  15.433     0.8281  238.177489
        2016    1.0  11.352150     0.86  15.168     0.7396  230.068224
        2017    1.0  10.946128     0.85  15.124     0.7225  228.735376
...             ...        ...      ...     ...        ...         ...
ESP     2013    1.0  27.151373     3.53  13.756    12.4609  189.227536
        2014    1.0  24.314959     3.11  13.544     9.6721  183.439936
        2015    1.0  22.820313     2.58  13.655     6.6564  186.459025
        2016    1.0  21.675491     2.30  13.564     5.2900  183.982096
        2017    1.0  19.869802     2.21  13.646     4.8841  186.213316

                    STR_3  Years_schooling  Avg_class_size  LogExp_educ
Country Time
AUS     2013  3807.377733             12.6          23.725     9.131513
        2014  3805.183701             12.7          23.859     9.133243
        2015  3675.793188             12.8          23.821     9.161646
        2016  3489.674822             12.9          23.669     9.212595
        2017  3459.393827             12.9          23.613     9.233902
...                   ...              ...             ...          ...
ESP     2013  2603.013985              9.5          21.606     8.849025
        2014  2484.510493              9.7          21.713     8.861131
        2015  2546.097986              9.7          21.878     8.903371
        2016  2495.533150              9.8          21.875     8.962530
        2017  2541.066910              9.8          21.916     9.007082

[79 rows x 10 columns]

### Regression without time fixed effect

In [96]:
panel_educ_ols = PanelOLS(df_educ_neet_ols.NEET, df_educ_neet_ols.drop(['NEET'], axis=1)).fit(cov_type='clustered')

In [97]:
print(panel_educ_ols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.8069
Estimator:                   PanelOLS   R-squared (Between):              0.8790
No. Observations:                  79   R-squared (Within):               0.2813
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.8069
Time:                        16:12:14   Log-likelihood                   -156.73
Cov. Estimator:             Clustered
                                        F-statistic:                      36.573
Entities:                          17   P-value                           0.0000
Avg Obs:                       4.6471   Distribution:                    F(8,70)
Min Obs:                       3.0000
Max Obs:                       5.0000   F-statistic (robust):             178.31
                                        P-value                           0.0000
Time periods:                       5   Distribution:                    F(8,70)
Avg Obs:                       15.800
Min Obs:                       15.000
Max Obs:                       17.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               46.154     11.207     4.1184     0.0001      23.803      68.505
Exp_LMP            -6.1318     1.5262    -4.0177     0.0001     -9.1757     -3.0880
STR                 5.0375     1.3766     3.6594     0.0005      2.2920      7.7831
Exp_LMP_2           2.1560     0.3967     5.4345     0.0000      1.3647      2.9472
STR_2              -0.2858     0.0806    -3.5444     0.0007     -0.4466     -0.1250
STR_3               0.0048     0.0015     3.1427     0.0025      0.0018      0.0079
Years_schooling    -1.3150     0.2667    -4.9298     0.0000     -1.8470     -0.7830
Avg_class_size      0.0805     0.0821     0.9804     0.3302     -0.0832      0.2442
LogExp_educ        -4.6582     0.8472    -5.4986     0.0000     -6.3478     -2.9686
===================================================================================

### Regression with time fixed effect

In [98]:
panel_educ_ols_tfe = PanelOLS(df_educ_neet_ols.NEET, df_educ_neet_ols.drop(['NEET'], axis=1), time_effects=True).fit(cov_type='clustered', cluster_time=True)

In [99]:
print(panel_educ_ols_tfe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.8109
Estimator:                   PanelOLS   R-squared (Between):              0.8783
No. Observations:                  79   R-squared (Within):               0.2800
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.8062
Time:                        16:14:13   Log-likelihood                   -153.32
Cov. Estimator:             Clustered
                                        F-statistic:                      35.385
Entities:                          17   P-value                           0.0000
Avg Obs:                       4.6471   Distribution:                    F(8,66)
Min Obs:                       3.0000
Max Obs:                       5.0000   F-statistic (robust):         -1.772e+13
                                        P-value                           1.0000
Time periods:                       5   Distribution:                    F(8,66)
Avg Obs:                       15.800
Min Obs:                       15.000
Max Obs:                       17.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               42.531     5.0863     8.3619     0.0000      32.376      52.686
Exp_LMP            -6.1267     1.2438    -4.9256     0.0000     -8.6101     -3.6433
STR                 5.2506     0.8660     6.0627     0.0000      3.5215      6.9797
Exp_LMP_2           2.1319     0.3219     6.6222     0.0000      1.4891      2.7746
STR_2              -0.2995     0.0525    -5.7019     0.0000     -0.4044     -0.1946
STR_3               0.0051     0.0010     5.1968     0.0000      0.0031      0.0070
Years_schooling    -1.2798     0.1882    -6.7998     0.0000     -1.6555     -0.9040
Avg_class_size      0.1031     0.0324     3.1790     0.0023      0.0384      0.1679
LogExp_educ        -4.4619     0.9513    -4.6905     0.0000     -6.3611     -2.5626
===================================================================================

F-test for Poolability: 1.4886
P-value: 0.2157
Distribution: F(4,66)

Included effects: Time

## Panel OLS with economic and education features

Ici, supprimer juste `Min_Wage` c'est pas suffisant pour retirer la multicollinéarité, il faut enlever en plus `Exp_educ`. Après c'est une variable de contrôle alors je sais pas si c'est si grave que ça.

In [43]:
reduced_obs = df_eco_neet[df_eco_neet.Time.isin(years[:-1])].reset_index(drop=True)
df_eco_educ_neet = pd.DataFrame(columns=['Country', 'Time', 'NEET', 'Exp_LMP', 'STR', 'Exp_LMP_2', 'STR_2', 'STR_3', 'LogGDP', 'CPI', 'DEBT', 'Years_schooling', 'Avg_class_size', 'LogExp_educ'])

In [44]:
for obs in reduced_obs.itertuples():
    country, time = obs[1], obs[2]
    new_el = df_educ_features_l1.loc[(df_educ_features_l1.Country==country)&(df_educ_features_l1.Time==time)]
    if len(new_el.index) > 0:
        line = {'Country':country, 'Time':time, 'NEET':obs[3], 'Exp_LMP':obs[4], 'STR':obs[5], 'Exp_LMP_2':obs[6], 'STR_2':obs[7], 'STR_3':obs[8], 'LogGDP':obs[9], 'CPI':obs[10], 'DEBT':obs[11], 'Years_schooling':new_el.Years_schooling.values[0], 'Avg_class_size':new_el.Avg_class_size.values[0], 'LogExp_educ':np.log(new_el.Exp_educ.values[0])}
        df_eco_educ_neet = df_eco_educ_neet.append(line, ignore_index=True)

In [45]:
df_eco_educ_neet

,Country,Time,NEET,Exp_LMP,STR,Exp_LMP_2,STR_2,STR_3,LogGDP,CPI,DEBT,Years_schooling,Avg_class_size,LogExp_educ
0,AUS,2013,13.015899,0.87,15.615,0.7569,243.828225,3807.377733,11.129468,2.449889,55.70968,12.6,23.725,9.131513
1,AUS,2014,12.647472,0.93,15.612,0.8649,243.734544,3805.183701,11.043094,2.487923,61.36842,12.7,23.859,9.133243
2,AUS,2015,11.831610,0.91,15.433,0.8281,238.177489,3675.793188,10.946512,1.508367,64.18005,12.8,23.821,9.161646
3,AUS,2016,11.352150,0.86,15.168,0.7396,230.068224,3489.674822,10.819201,1.276991,68.39156,12.9,23.669,9.212595
4,AUS,2017,10.946128,0.85,15.124,0.7225,228.735376,3459.393827,10.897257,1.948647,65.60463,12.9,23.613,9.233902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,ESP,2013,27.151373,3.53,13.756,12.4609,189.227536,2603.013985,10.277102,1.408546,106.55730,9.5,21.606,8.849025
75,ESP,2014,24.314959,3.11,13.544,9.6721,183.439936,2484.510493,10.290841,-0.150870,119.47340,9.7,21.713,8.861131
76,ESP,2015,22.820313,2.58,13.655,6.6564,186.459025,2546.097986,10.155491,-0.500461,117.07530,9.7,21.878,8.903371
77,ESP,2016,21.675491,2.30,13.564,5.2900,183.982096,2495.533150,10.185102,-0.202672,117.33050,9.8,21.875,8.962530
78,ESP,2017,19.869802,2.21,13.646,4.8841,186.213316,2541.066910,10.246019,1.956083,115.77740,9.8,21.916,9.007082

In [46]:
df_eco_educ_neet_ols = df_eco_educ_neet.set_index(['Country', 'Time'])

In [47]:
df_eco_educ_neet_ols = sm.add_constant(df_eco_educ_neet_ols)

In [48]:
panel_eco_educ_ols_te = PanelOLS(df_eco_educ_neet_ols.NEET, df_eco_educ_neet_ols.drop(['NEET'], axis=1), time_effects=True).fit(cov_type='clustered', cluster_time=True)

In [49]:
print(panel_eco_educ_ols_te)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.8262
Estimator:                   PanelOLS   R-squared (Between):              0.8840
No. Observations:                  79   R-squared (Within):               0.2723
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.8111
Time:                        15:27:32   Log-likelihood                   -149.98
Cov. Estimator:             Clustered
                                        F-statistic:                      27.233
Entities:                          17   P-value                           0.0000
Avg Obs:                       4.6471   Distribution:                   F(11,63)
Min Obs:                       3.0000
Max Obs:                       5.0000   F-statistic (robust):         -7.928e+14
                                        P-value                           1.0000
Time periods:                       5   Distribution:                   F(11,63)
Avg Obs:                       15.800
Min Obs:                       15.000
Max Obs:                       17.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               28.629     4.4239     6.4714     0.0000      19.789      37.470
Exp_LMP            -4.4484     1.7624    -2.5241     0.0141     -7.9702     -0.9265
STR                 6.0163     0.9294     6.4736     0.0000      4.1591      7.8734
Exp_LMP_2           1.8387     0.3899     4.7152     0.0000      1.0594      2.6179
STR_2              -0.3550     0.0562    -6.3147     0.0000     -0.4674     -0.2427
STR_3               0.0065     0.0011     5.9368     0.0000      0.0043      0.0086
LogGDP             -2.1241     0.7142    -2.9741     0.0042     -3.5513     -0.6969
CPI                -0.3630     0.3112    -1.1664     0.2478     -0.9849      0.2589
DEBT               -0.0125     0.0125    -0.9989     0.3217     -0.0374      0.0125
Years_schooling    -1.0320     0.3208    -3.2167     0.0020     -1.6732     -0.3909
Avg_class_size      0.2192     0.0440     4.9812     0.0000      0.1313      0.3071
LogExp_educ        -1.5179     0.9016    -1.6835     0.0972     -3.3196      0.2839
===================================================================================

F-test for Poolability: 1.9568
P-value: 0.1120
Distribution: F(4,63)

Included effects: Time

In [50]:
panel_eco_educ_ols = PanelOLS(df_eco_educ_neet_ols.NEET, df_eco_educ_neet_ols.drop(['NEET'], axis=1)).fit(cov_type='clustered')

In [51]:
print(panel_eco_educ_ols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.8170
Estimator:                   PanelOLS   R-squared (Between):              0.8865
No. Observations:                  79   R-squared (Within):               0.3151
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.8170
Time:                        15:27:32   Log-likelihood                   -154.61
Cov. Estimator:             Clustered
                                        F-statistic:                      27.199
Entities:                          17   P-value                           0.0000
Avg Obs:                       4.6471   Distribution:                   F(11,67)
Min Obs:                       3.0000
Max Obs:                       5.0000   F-statistic (robust):             162.53
                                        P-value                           0.0000
Time periods:                       5   Distribution:                   F(11,67)
Avg Obs:                       15.800
Min Obs:                       15.000
Max Obs:                       17.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               40.873     12.766     3.2018     0.0021      15.393      66.353
Exp_LMP            -4.9087     1.8358    -2.6739     0.0094     -8.5729     -1.2445
STR                 5.6857     1.6975     3.3494     0.0013      2.2974      9.0740
Exp_LMP_2           1.9205     0.4170     4.6052     0.0000      1.0881      2.7529
STR_2              -0.3287     0.1008    -3.2609     0.0017     -0.5298     -0.1275
STR_3               0.0058     0.0019     2.9618     0.0042      0.0019      0.0097
LogGDP             -0.8074     0.8766    -0.9210     0.3603     -2.5572      0.9424
CPI                -0.3353     0.2000    -1.6768     0.0982     -0.7344      0.0638
DEBT               -0.0136     0.0125    -1.0896     0.2798     -0.0386      0.0113
Years_schooling    -1.2965     0.3152    -4.1139     0.0001     -1.9255     -0.6675
Avg_class_size      0.1380     0.1056     1.3067     0.1958     -0.0728      0.3487
LogExp_educ        -3.6390     1.3764    -2.6438     0.0102     -6.3864     -0.8916
===================================================================================

to print summary to latex format: print(panel_eco_educ_ols.summary.as_latex())

## Panel OLS with economic, education and labour market features

In [110]:
reduced_obs = df_eco_educ_neet[df_eco_educ_neet.Time.isin(years[:-1])].reset_index(drop=True)
df_eco_educ_lm_neet = pd.DataFrame(columns=['Country', 'Time', 'NEET', 'Exp_LMP','Exp_LMP_2', 'STR', 'STR_2','STR_3','LogGDP', 'CPI', 'DEBT', 'Years_schooling', 'Avg_class_size', 'LogExp_educ','Protection_of_Workers','PT_FT_employ'])

In [114]:
for obs in reduced_obs.itertuples():
    country, time = obs[1], obs[2]
    new_el = df_labour_features.loc[(df_labour_features.Country==country)&(df_labour_features.Time==time)]
    if len(new_el.index) > 0:
        line = {'Country':country, 'Time':time, 'NEET':obs[3], 'Exp_LMP':obs[4],'Exp_LMP_2':obs[6], 'STR':obs[5],'STR_2':obs[7],'STR_3':obs[8], 'LogGDP':obs[9], 'CPI':obs[10], 'DEBT':obs[11], 'Years_schooling':obs[12], 'Avg_class_size':obs[13], 'LogExp_educ':obs[14],'Protection_of_Workers':new_el.protection_of_workers.values[0],'PT_FT_employ':(new_el.ft_and_pt_employ.values[0])/100}
        df_eco_educ_lm_neet = df_eco_educ_lm_neet.append(line, ignore_index=True)

In [116]:
df_eco_educ_lm_neet_ols = df_eco_educ_lm_neet.set_index(['Country', 'Time'])

In [117]:
df_eco_educ_lm_neet_ols = sm.add_constant(df_eco_educ_lm_neet_ols)

/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [121]:
panel_eco_educ_lm_ols = PanelOLS(df_eco_educ_lm_neet_ols.NEET, df_eco_educ_lm_neet_ols.drop(['NEET'], axis=1), time_effects=True).fit(cov_type='clustered', cluster_time=True)

In [122]:
print(panel_eco_educ_lm_ols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   NEET   R-squared:                        0.9873
Estimator:                   PanelOLS   R-squared (Between):              0.9475
No. Observations:                  23   R-squared (Within):               0.0357
Date:                Thu, Apr 01 2021   R-squared (Overall):              0.9008
Time:                        17:44:34   Log-likelihood                   -13.169
Cov. Estimator:             Clustered
                                        F-statistic:                      35.748
Entities:                          12   P-value                           0.0001
Avg Obs:                       1.9167   Distribution:                    F(13,6)
Min Obs:                       1.0000
Max Obs:                       3.0000   F-statistic (robust):         -7.942e+14
                                        P-value                           1.0000
Time periods:                       4   Distribution:                    F(13,6)
Avg Obs:                       5.7500
Min Obs:                       2.0000
Max Obs:                       8.0000

                                   Parameter Estimates
=========================================================================================
                       Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------------
const                     302.74     51.290     5.9025     0.0011      177.24      428.24
Exp_LMP                  -3.4057     1.6290    -2.0907     0.0815     -7.3917      0.5802
Exp_LMP_2                 0.9485     0.3160     3.0011     0.0240      0.1751      1.7218
STR                      -12.323     9.7320    -1.2662     0.2524     -36.137      11.490
STR_2                     0.5819     0.7263     0.8012     0.4535     -1.1952      2.3591
STR_3                    -0.0054     0.0177    -0.3050     0.7707     -0.0487      0.0379
LogGDP                   -11.577     3.1244    -3.7055     0.0100     -19.222     -3.9322
CPI                       0.3182     0.4085     0.7791     0.4655     -0.6812      1.3177
DEBT                      0.0424     0.0295     1.4358     0.2011     -0.0298      0.1146
Years_schooling          -4.5864     0.4435    -10.342     0.0000     -5.6715     -3.5013
Avg_class_size           -2.1851     0.7876    -2.7744     0.0322     -4.1123     -0.2580
LogExp_educ               1.8768     1.3213     1.4204     0.2053     -1.3564      5.1099
Protection_of_Workers    -13.174     3.8620    -3.4112     0.0143     -22.624     -3.7242
PT_FT_employ              120.03     9.5011     12.633     0.0000      96.780      143.28
=========================================================================================

F-test for Poolability: 3.9547
P-value: 0.0716
Distribution: F(3,6)

Included effects: Time